:{$PORT} {

  log {
    format json
  }

  # Alle /api-Aufrufe an Backend schicken
  handle_path /api/* {
    reverse_proxy {
      dynamic a {
        name {$BACKEND_DOMAIN}
        port {$BACKEND_PORT}
        refresh 1s
        versions ipv6
      }

      import lb_settings
      import passive_health_checks
      header_up Host {upstream_hostport}
    }
  }

  # Alles andere an Frontend
  handle {
    reverse_proxy {
      dynamic a {
        name {$FRONTEND_DOMAIN}
        port {$FRONTEND_PORT}
        refresh 1s
        versions ipv6
      }

      import lb_settings
      import passive_health_checks
      header_up Host {upstream_hostport}
    }
  }
}
